.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

.header-icon {
    display: flex;
    align-items: center;
}

.header-loading-status-container {
    /* background-color: red; */
    display: flex;
    align-items: center;
    gap: 16px;
}

.header-loading-error {
    display: flex;
    align-items: center;
    padding: 8px 24px;
    background-color: #0F1318;
    border-radius: 4px;
    gap: 10px;
}

.header-loading-status-text {
    /* font-family: 'Inter';
    font-weight: 500; */
    font-size: 18px;
    color: #fff;
    margin: 0;
}

.header-refresh-button {
    display: flex;
    align-items: center;
    padding: 8px 24px;
    background-color: #EB0237;
    border-radius: 4px;
    gap: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.header-refresh-button:hover {
    background-color: #c20230;
}

.header-refresh-button.loading {
    cursor: not-allowed;
    opacity: 0.6;
}

.header-refresh-button.loading svg {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

